<?xml version="1.0" encoding="UTF-8"?>
<methodLCIA>
<configurationLCIAMethod uuid="6209b35f-9447-40b5-b68c-a1099e3674a0" unitVal="kg CO2 eq" globalVal="7553.08316285117" weightedVal="0.2106" shortDesc="CC" />
<configurationLCIAMethod uuid="b5c629d6-def3-11e6-bf01-fe55135034f3" unitVal="kg CFC-11eq" globalVal="0.0523483833840181" weightedVal="0.0631" shortDesc="ODP" />
<configurationLCIAMethod uuid="2299222a-bbd8-474f-9d4f-4dd1f18aea7c" unitVal="CTUh" globalVal="0.0000172528976538705" weightedVal="0.0213" shortDesc="HTC" />
<configurationLCIAMethod uuid="7cfdcfcf-b222-4b26-888a-a55f9fbf7ac8" unitVal="CTUh" globalVal="0.000128735735008072" weightedVal="0.0184" shortDesc="HTN" />
<configurationLCIAMethod uuid="b5c602c6-def3-11e6-bf01-fe55135034f3" unitVal="Disease incidences" globalVal="0.000595366821125478" weightedVal="0.0896" shortDesc="PM" />
<configurationLCIAMethod uuid="b5c632be-def3-11e6-bf01-fe55135034f3" unitVal="kBq U235" globalVal="4220.16339014993" weightedVal="0.0501" shortDesc="IR" />
<configurationLCIAMethod uuid="b5c610fe-def3-11e6-bf01-fe55135034f3" unitVal="kg NMVOC eq" globalVal="40.8591977347772" weightedVal="0.0478" shortDesc="POz" />
<configurationLCIAMethod uuid="b5c611c6-def3-11e6-bf01-fe55135034f3" unitVal="mol H+ eq" globalVal="55.5695412306019" weightedVal="0.062" shortDesc="ACI" />
<configurationLCIAMethod uuid="b5c614d2-def3-11e6-bf01-fe55135034f3" unitVal="mol N eq" globalVal="176.754999788942" weightedVal="0.0371" shortDesc="EUt" />
<configurationLCIAMethod uuid="b53ec18f-7377-4ad3-86eb-cc3f4f276b2b" unitVal="kg P eq" globalVal="1.60685212828813" weightedVal="0.028" shortDesc="EUf" />
<configurationLCIAMethod uuid="b5c619fa-def3-11e6-bf01-fe55135034f3" unitVal="kg N eq" globalVal="19.5451815519191" weightedVal="0.0296" shortDesc="EUm" />
<configurationLCIAMethod uuid="05316e7a-b254-4bea-9cf0-6bf33eb5c630" unitVal="CTUitaloe" globalVal="56716.5863370596" weightedVal="0.0192" shortDesc="Eto" />
<configurationLCIAMethod uuid="b2ad6890-c78d-11e6-9d9d-cec0c932ce01" unitVal="soil quality index" globalVal="819498.182923031" weightedVal="0.0794" shortDesc="Lnd" />
<configurationLCIAMethod uuid="b2ad66ce-c78d-11e6-9d9d-cec0c932ce01" unitVal="m3 water eq. deprived" globalVal="11468.7086407597" weightedVal="0.0851" shortDesc="Wat" />
<configurationLCIAMethod uuid="b2ad6494-c78d-11e6-9d9d-cec0c932ce01" unitVal="kg Sb eq" globalVal="0.0636226152369547" weightedVal="0.0755" shortDesc="RMi" />
<configurationLCIAMethod uuid="b2ad6110-c78d-11e6-9d9d-cec0c932ce01" unitVal="MJ" globalVal="65004.2596640165" weightedVal="0.0832" shortDesc="REn" />
<percentageLCIA>80</percentageLCIA>
</methodLCIA>
